.text_review {
  color: #88b44e; }

.btn {
  background: #88b44e;
  color: #fff; }

.price_1 {
  font-weight: 900;
  color: #cdcfd0; }

.price_2 {
  font-weight: 900;
  color: #88b44e; }

.tyle {
  color: #88b44e; }
